/* styles.css */

* {
	font-family: Arial; Helvetica, san-serif;
}

body {
	background-color: dodgerblue;
}

.container {
	width: 500px; 
	margin: 50px auto;
	text-align: center;
}

.backgroundImage {
	background-Image: url(../img/wrench.png);
	wdith: 400px;
	height: 400px;
}

h1 {
font-family: "Alegreya", serif;
}
